{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<!-- <div class="align-center"> -->
<style>
    .container{
      margin-top:15%;
    }

</style>

<div class="container" id="box">

  <!--   <div class="container"> -->
      <div class="row">
        <div class="col-sm-12">
                <div class="card rounded-lg shadow mb-4 bg-white">
                      <div class="card-header"><b>Reset Password</b></div>
                          <div class="card-body">
                            <div class="content-section">
                                <form method="POST">
                                    {% csrf_token %}
                                    <fieldset class="form-group">
                                        <!-- <legend class="border-bottom mb-4">Reset Password</legend> -->
                                        {{ form|crispy }}
                                    </fieldset>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
                                    </div>
                                </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>

                <!-- </div> -->
                    </div>
                  <!-- </div> -->
<!-- </div> -->

{% endblock content %}
